<ion-view view-title="CIs">
  <ion-content>
      <section class="main">
          <div class="container-fluid">
              <div class="ci-item" ng-repeat="item in list track by $index">
                  <div class="row">
                      <div class="col-xs-8">
                          <div class="hardware-icon" ng-style="item.type != null && {'background-color':'#25a0da'}">
                              <i class="icon zmdi" ng-class="{'zmdi-desktop-windows': item.type && item.type.name == 'Virtual', 'zmdi-laptop': item.type && item.type.name == 'Laptop', 'zmdi-smartphone-android': item.type && item.type.name == 'Android', 'zmdi-smartphone-iphone': item.type && item.type.name == 'Iphone'}"></i>
                          </div>
                          <div class="text">
                              <h3><span class="dot" ng-class="{'on': item.online, 'off': !item.online}"></span>{{item.name | limitTo: 10 }}</h3>
                              <p class="group"><i class="icon zmdi zmdi-group"></i>{{item.alias | limitTo: 10 }}</p>
                              <p class="system"><i class="icon zmdi" ng-class="{'zmdi-windows': item.inventory.os.name.indexOf('Windows' != -1), 'zmdi-apple': item.inventory.os.name.indexOf('iOS' != -1) }"></i>{{item.inventory.os.name | limitTo: 19 }}</p>
                          </div>
                      </div>
                      <div class="col-xs-4">
                          <p class="status active">{{item.status.name }}</p>
                          <p class="date">{{item.updated_at | date:'dd MMM yyyy'}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </ion-content>
</ion-view>
