<ion-view view-title="Scan">
  <ion-content>
      <div class="buttons" style="margin: 15px;">
          <button class="button button-full button-positive" ng-click="scan()">
              SCAN
          </button>
      </div>
      <section class="qr-scanner" ng-show="done && !success">
          <div class="container-fluid">
              <div class="qr-block">
                  <div class="qr error">
                      <div class="error-msg">
                          <div class="error-icon"><i class="icon zmdi zmdi-close"></i></div>
                          <p>{{result}}</p>
                      </div>
                  </div>
            </div>
          </div>
      </section>
      <section class="qr-scanner" ng-show="done && success">
          <div class="container-fluid">
              <div class="qr-block">
                  <div class="qr success">
                      <div class="success-msg">
                          <div class="success-icon"><i class="icon zmdi zmdi-check"></i></div>
                      </div>
                  </div>
                  <div class="ci-item">
                      <div class="row">
                          <div class="col-xs-12">{{result}}</div>
                  </div>
              </div>
          </div>
          </div>
      </section>
  </ion-content>
</ion-view>
